<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<suite configfailurepolicy="continue" name="Suite" parallel="none">
  <test name="Test" preserve-order="true">
    <classes>
      <class name="TestCases.TestCases"/>
      <methods>
        <include name="TC_001"/>
        <exclude name="2"/>
      </methods>
    </classes>
  </test>
</suite>
